*,
*::before,
*:after {padding: 0;margin: 0;outline: 0;box-sizing: border-box;}

/*** pace progress loader ****/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff3446;
  position: fixed;
  z-index: 4000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}


/**** nav ****/
.contain-to-grid {
  background-color: rgba(255, 255, 255, 0.9);
  height: 45px;
}

.title-area {
  padding-bottom: 2px;
  text-align: left;
}

.top-bar {
  background-color: rgba(500, 500, 500, 1);
  position: fixed;
  padding-top: 0.2rem;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom:0.2rem;
  overflow:hidden;
  width:100%;
  z-index: 2000;
  top:0;
}

.top-bar h2 {
  font-family: 'lato', sans-serif;
  font-size: 1.2rem;
  font-weight: inherit;
  display: inline-block;
}




/*
.top-bar .name a {
  text-decoration:none;
  color: #FFFFFF;
  /*transition: color .2s ease-in-out;*/
}*


.nav-left ul {
  vertical-align:middle;
  position:relative;
  margin:0;
}

.right li {
  margin-left: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top:0.5rem;
}

.top-bar-section ul li {
  list-style-type: none;
  display: inline-block;
  /*vertical-align:middle;
  height:100%
  position: relative;*/
}


.top-bar-section ul li a {
  color: #000000;
  font-family: 'lato', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}

.top-bar-section ul.right {
  padding-bottom: 2px;
}

.top-bar-section .right .has-form a {
  color: rgba(60, 74, 35, 1);
}

.top-bar-section .has-dropdown > a:after {
  border-color: #777 transparent transparent transparent;
}

.top-bar-section ul li.active > a {
  background-color: #FFFFFF;
  color: #777;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: rgba(68, 68, 68, 0.2);
}

.top-bar .toggle-topbar.menu-icon a{
  color: #777;
}

.top-bar .toggle-topbar.menu-icon a:hover {
  color: #ffffff;
}


.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: underline;
  display: block;
  text-align: left;
}

.navbar-toggler {
  float: right;
  padding-top:0.7rem;
  padding-bottom:0.7rem;
}




.has-dropdown:hover .dropdown {
  display: none; /**not displaying for now **/
}

.has-dropdown:hover {
  border-bottom: 2px solid black;
  border-bottom: 2px solid black;
  line-height: 0.0001;
  display: inline-block;
  text-decoration: underline;
  text-shadow:
  2px 2px white,
  2px -2px white,
  -2px 2px white,
  -2px -2px white;
}


.no-dropdown:hover {
    border-bottom: 2px solid black;
    border-bottom: 2px solid black;
    line-height: 0.0001;
    display: inline-block;
    text-decoration: underline;
    text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}



.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  min-width: 320px;
}



.hero-panel {
  margin-top: 5rem;
  margin-bottom:0;
}

.hero__panel {
  margin-left:5%;
  margin-right:5%;
  margin-top: 9%;
  padding-left: 1%;
  padding-right: 1%;
}


.background-wrapper-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
}

.background-wrapper-headline {
  margin-right: 2%;
  padding-left: 1.8rem;
  padding-bottom: 6rem;
  margin-bottom: 15%;
}

#name-headline, h1 {
    margin-bottom: 0rem;
    font-family: 'Lato', serif;
    text-align: center;
    margin-top: 15%;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.04rem;
    -webkit-font-smoothing: antialiased;
}

#name-tagline, h1 {
    margin-bottom: 2rem;
    font-family: 'Lato', serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.04rem;
    -webkit-font-smoothing: antialiased;
}


#tagline, h4 {
  font-family:'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.7rem;
  padding-top: 2.2rem;
  padding-left: 15%;
  padding-right: 15%;
}

.background__pic {
  margin-right: 0;
  max-width:42%;
}

.background-pic {
  max-width: 100%;
  margin-right: 0;
  float: right;
}

.hero-scroll {
  padding-right: 1.2rem;
  margin-right: 1.2rem;
  padding-left: 2rem;
  position: relative;
  bottom: 0;
  margin-bottom: 1.2rem;
  flex-grow: 1;
}

.see-more {
  position: absolute;
  bottom: 0;
}

.contact__headline {
  margin-bottom: 3rem;
  margin-left: 2rem;
  position: relative;
  bottom: 0;
  flex-grow: 1;
}

.get-in-touch {
  position: absolute;
  bottom: 0;
}

.get-in-touch-2 {
  display:none;
}


@media only screen and (max-width: 1408px) {
  .background-wrapper-headline {
    padding-right: 0rem;
  }
  .hero-scroll {
    padding-left: 0rem;
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 1241px) {
  #tagline, h4 {
    padding-left: 5%;
    padding-right: 5%;
  }
}


@media only screen and (max-width: 1081px) {

  .hero__panel {
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
  }
}



/**
  #name-headline, h1 {
      font-family: 'Lato', serif;
      text-align: left;
      margin-top: 10%;
      margin-bottom: 0rem;
      font-size: 2.2em;
  }
  #name-tagline, h1 {
    font-family: 'Lato', serif;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2.2em;
  }

  #tagline, h4 {
    font-family:'Open Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    max-width: 95%;
  }

  .background__pic {
    width: 43%;
  } **/


@media only screen and (max-width: 995px) {
  #name-headline, h1 {
    font-size: 2em;
  }
  .contact__list h1 {
    text-align:left;
    text-decoration: none;
    margin-top: 0.8rem;
    margin-bottom: 0rem;
    font-size: 2em;
  }
}

@media only screen and (max-width: 768px) {
  #name-headline, h1 {
    font-family: 'Lato', serif;
    text-align: left;
    margin-top: 10%;
    font-size: 1.9em;
  }

  .background-wrapper-headline {
    padding-left: 0rem;
    margin-right: 2.5%;
  }

  #tagline, h4 {
    font-family:'Open Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    padding-left: 0%;
    padding-right: 0%;
    line-height: 1.4rem;
    margin-bottom: 20%;
  }

  .contact__list h1 {
    text-align:left;
    text-decoration: none;
    margin-top: 0.8rem;
    margin-bottom: 0rem;
    font-size: 1.9em;
  }
}

@media only screen and (max-width: 480px) {
  .projects-collaboreate {
    display:flex;
    flex-direction: column;
  }


  .project-homepage-img {
    /*position: relative;*/
    text-align: center;
  }

  .project-homepage-img img {
    width: 100%;
    height: auto;
    display:block;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .project-homepage-img:hover img {
    opacity: 0.2;
    background: rgba(0, 0, 0, .6);
  }

  .project-homepage-img:hover .hover-text {
    background: rgba(0, 0, 0, .6);
  }

  .project-homepage-img-2 img {
    width:100%;
  }
}

@media only screen and (max-width: 414px) {
    .hero__panel {
      margin-top: 7%;
      margin-left: 2%;
      margin-right: 2%;
    }
    #name-headline {
      padding-right: 20%;
    }
    .get-in-touch-2 {
      display: inline;
      padding-right: 2%;
    }
}

@media only screen and (max-width: 370px) {
  #name-headline {
    padding-right: 0%;
  }
}


/***
@media only screen and (max-width: 870px) {

  #name-headline, h1 {
    margin-bottom: 0rem;
    font-family: 'Lato', serif;
    text-align: left;
    margin-top: 10%;
    font-size: 1.8em;
  }

  #name-tagline, h1 {
    font-family: 'Lato', serif;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.8em;
  }


  .hero-scroll {
    margin-bottom: 0.7rem;
    margin-right: 0.7rem;
  }

  .contact__headline {
    margin-top: 0.7rem;
    margin-left: 0.7rem;
  }

  .see-more {
    width:70%;
  }

  .get-in-touch {
    width:70%;
  }
}**/

/**
@media only screen and (max-width: 729px) {

  .hero__panel {
    margin-top: 7%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .backround-wrapper-flex {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .background-wrapper-headline {
    margin-right: 1rem;
  }
  #name-headline, h1 {
    font-family: 'Lato', serif;
    text-align: left;
    margin-top: 10%;
    font-size: 1.5em;
  }

  #name-tagline, h1 {
    font-family: 'Lato', serif;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.5em;
  }

} **/


@media only screen and (max-width: 690px) {
  .background-wrapper-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .background-wrapper-headline {
    max-width:100%;
  }
  #name-headline, h1 {
    font-family: 'Lato', serif;
    text-align: left;
    font-size: 2.2rem;
    margin-top: 10%;
  }

  #name-tagline, h1 {
    font-family: 'Lato', serif;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    margin-top: auto;
  }

  #tagline, h4 {
  font-family:'Open Sans', sans-serif;
  text-align: left;
  line-height: 1.45rem;
  margin-bottom: 4rem;
  }

  .background__pic {
    max-width:100%;
    width: 65%;
  }

  .background-pic {
    width: 100%;
    margin-right: 0;
  }


  .contact__headline {
    display:none;
  }
}

@media only screen and (max-width: 440px) {
  .background-wrapper-flex {
    margin:auto;
  }
  .background-wrapper-headline {
    margin:auto;
  }

  #name-headline, h1 {
    font-family: 'Lato', serif;
    text-align: left;
    font-size: 1.8rem;
    margin-top: 10%;
  }

  #name-tagline, h1 {
    font-family: 'Lato', serif;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    margin-top: auto;
  }

  .background__pic {
    max-width:100%;
    width:90%;
  }
}



h1 {
  font-family: 'Lato', sans-serif;
  color: #000000;
  text-align: left;
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-align: left;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  text-align: left;
  font-size: 1.4rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
}

.footer {
  color: #000000;
  text-align:center;
}

footer, h1 {
  text-align: center;
  margin-bottom: 12px;
}

#greeting, h1 {
  text-align: left;
  margin-top: 1%;
  margin-bottom: 5%;
}

footer, h4 {
  text-align: center;
}

h5 {
  font-family: 'Lato', sans-serif;
  text-transform:lowercase;
  font-size: 1.2rem;
  color: #979797;
  letter-spacing:0.1rem;
}

h6 {
  font-size:12px;
}

.copyright {
  font-size: 12px;
}


/*button*/
a#call {
    font-size: 1rem;
    font-weight: 700;
}

.button {
  font-family: 'Raleway';
  font-weight: 500;
  background-color: #FFFFFF;
  letter-spacing: 1px;
  color: #000000;
  padding:6px 28px;
  font-style: normal;
  border-radius: 2px;
  border-color: #000000;
  border: solid 1px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.5s;
}




.button:hover {
  background-color: #FF3547;
  border-color: #FF3547;
  color: white;
}


.projects {

}


.projects-collaboreate {
  display:flex;
  flex-direction: row;
}


.project-homepage-img {
  position: relative;
  text-align: center;
}

.project-homepage-img img {
  width: 100%;
  height: auto;
  display:block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project-homepage-img:hover img {
  opacity: 0.2;
  background: rgba(0, 0, 0, .6);
}

.project-homepage-img:hover .hover-text {
  background: rgba(0, 0, 0, .6);
}

.project-homepage-img-2 img {
  width:100%;
}
/*
.hover-text {
  display: none;
}

.hover-text:hover .project-headline {
  display: block;
  visibility: visible
}*/


.section__inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center
}

.section__content {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width:90%;
  flex-direction:column;
}

.project-homepage-img:hover .project-headline {
  visibility: visible;
}

.project-homepage-img:hover .project-description {
  visibility: visible;
}

.project-homepage-img:hover .project-description-1 {
  visibility: visible;
}

.project-headline {
  color:#111111;
  position: absolute;
  letter-spacing: 0.1rem;
  font-weight: 500;
  top: 30%;
  right: 38%;
  font-size: 1.4rem;
  visibility: hidden;
  max-width: 50%;
  text-align: center;
}

.project-description {
  color: #111111;
  position: absolute;
  top: 40%;
  right: 20%;
  visibility: hidden;
  max-width: 50%;
  text-align: center;
}

.project-description-1 {
  color: #111111;
  position: absolute;
  top: 40%;
  right: 20%;
  visibility: hidden;
  max-width: 50%;
  text-align: center;
}

.about-buttons {
  flex-direction: row;
  display: flex;
}

.section__actions {
  padding-right: 1.2rem;
}


.section__aside {
  margin-left: 3rem;
}

.section__aside img {
  width: 70%;
  height: auto !important;
}

.section__content {
  margin-right: 1.7rem;
}


@media only screen and (max-width: 1300px) {
  .section__content {
    width: 100%;
  }
}

/**

@media only screen and (max-width: 991px) {
  .section__content {
    width: 100%;
    margin-right: 2rem;
  }
  .section__aside {
    margin-left: 2rem;
  }
  .projects-collaboreate {
    padding-left: 3%;
    padding-right: 3%;
  }
}

**/


/**
@media only screen and (max-width: 912px) {
  .section__content {
    width: 100%;
    margin-right: 2rem;
  }
  .section__aside {
    margin-left: 2rem;
  }
  .projects-collaboreate {
    padding-left: 3%;
    padding-right: 3%;
  }
  #project-headline {
    width:250px;
    margin-bottom:0.7rem;
  }
  .section__aside img {
    width: 80%;
  }
  .section__actions {
    margin-top:3rem;
  }
}**/

/**
@media only screen and (max-width: 852px) {
  .section__content {
    width: 100%;
    margin-right: 2rem;
  }
  .section__aside {
    margin-left: 2rem;
  }
  .projects-collaboreate {
    padding-left: 3%;
    padding-right: 3%;
  }
  #project-headline {
    width:250px;
    margin-bottom:0.7rem;
  }
  .section__aside img {
    width: 85%;
  }
  .section__actions {
    margin-top:3rem;
  }
} **/

/**

@media only screen and (max-width: 790px) {
  .section__content {
    width: 100%;
    margin-right: 1.5rem;
  }
  .section__aside {
    margin-left: 1.5rem;
  }
  .projects-collaboreate {
    padding-left: 3%;
    padding-right: 3%;
  }
  .section__aside img {
    width: 85%;
  }
}

**/



@media only screen and (max-width: 698px) {
  .section__content {
    width: 100%;
    margin-right: 0.5rem;
  }
  .section__aside {
    margin-left: 0.5rem;
  }
  .section__aside img {
    width: 88%;
  }
}

@media only screen and (max-width: 634px) {
  .section__inner {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  #project-headline {
    margin-bottom:1.3rem;
  }
  .section__actions {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .section__content {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 5rem;
    width:80%;
    flex-direction:column;
  }
  .section__aside img {
    width: 100%;
  }
  .section__aside {
    padding-bottom: 2rem;
  }
  #contact__header {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  #contact__actions {
    margin-top: 1rem;
  }
  ul#social {
    padding-bottom:2rem;
  }
}

.shell {
  width: 100%;
  padding-left:1rem;
  padding-right:1rem;
  margin: auto;
}

.contact {
  background: #FFFFFF;
}



.contact__section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 6%;
  padding-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 4%;
}


.contact__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 9rem;
}

.contact__list h1 {
  text-align:left;
  text-decoration: none;
  margin-top: 0.8rem;
  margin-bottom: 0rem;
}


.contact__list a {
  text-decoration: none;
}

.contact__list a:hover {
  text-decoration: underline black;
}

.arrow {
  float: right;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/**
.underline a:hover {
  border-bottom: 9px solid rgb(255,53,71);
  border-bottom: 9px solid rgba(255, 53, 71, .29);
  display: inline-block;
  line-height: 0.6;
}

**/

.more__project {
  background: #111111;
}



.more__project__section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 14%;
  padding-bottom: 14%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 4%;
}

#contact__header {
  margin-bottom:1.5rem;
  margin-top: 1.5rem;
  letter-spacing: 0.12rem;
  color: #FFFFFF;
}

#contact__tagline {
  margin-bottom: 3.5rem;
}

.social__media__links {
  margin-top: 4rem;
}




/*** social media links ****/

ul#social {
  list-style-type: none;
  text-align: center;
}

ul#social li {
  display: inline-block;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}


/*** copyright ****/

#footer {
    padding-top: 12px;
}



/**** ABOUT ME PAGE ****/

.about-wrapper {
  flex-direction: row;
  display: flex;
}


.about-picture {
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}


.about-section-content {
  padding-left: 3%;
  padding-right: 10%;
  margin-top: 7%;
  padding-top: 5%;
}

#bio5 {
  padding-bottom: 8%;
}

#bio {
  line-height: 1.45rem;
  padding-bottom: 1.2rem;
}

.about-picture-2 {
  display:none;
  max-width:100%;
}

@media only screen and (max-width: 1418px) {
  .about-picture {
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 10%;
  }
  .about-section-content {
    padding-right: 7%;
  }
}

@media only screen and (max-width: 1302px) {
  .about-picture {
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
  }
  .about-section-content {
    padding-right: 5%;
  }
}

@media only screen and (max-width: 420px) {
  .about-picture {
    display:none;
  }

  .about-picture-2 {
    display: block;
  }

  .about-wrapper {
    flex-direction: column;
    display: flex;
  }
  .about-section-content {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    padding-top: 5%;
  }
  .section__actions {
    margin-top: 1rem;
    margin-bottom: 1.45rem;
  }
  .about-buttons {
    flex-direction: column;
    display: flex;
  }
}


.about__me {
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
  margin-right:7rem;
}



.about__picture {
  text-align: center;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.about__section__content h2 {
  margin-bottom: 3rem;
}

.about__section__content p {
  margin-bottom: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}

.about__me__contact {
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 7rem;
}

.social__media__links__2 {
  margin-left: 4%;
}

ul#social__2 {
  list-style-type: none;
  text-align: left;
  margin-left: 6%;
}

ul#social__2 li {
  display: inline-block;
  float:right;
}

.copyright__2 {
  text-align: left;
  margin-right: 4%;
  margin-left: 1%;
  float: left;
}




.linkedin__icon {
  width: 40%;
}

.instagram__icon {
  width: 40%;
}

.github__icon {
  width: 40%;
}

.twitter__icon {
  width: 40%;
}


@media only screen and (max-width: 575px) {
  .footer__2 {
    display:flex;
    flex-direction:column-reverse;
  }
  .social__media__links__2 {
    margin:auto;
    margin-bottom: 0.5rem;
    align-items: center;
  }

  ul#social__2 {
    padding-left: 2rem;
    list-style-type: none;
    text-align: left;
    margin: auto;
  }

  .copyright__2 {
    text-align:center;
    margin: auto;
  }
}

.collaboreate-intro {
  padding-top: 5%;
}


.collaboreate__intro__main {
  border-bottom: 1px dotted #C6E4E6;
  margin-left:2%;
  margin-right: 2%;
}

.collaboreate__intro__description {

  padding-left: 5%;
  padding-right: 5%;
  text-align:center;
  padding-bottom: 5.5rem;
  padding-top:2rem;
}

.collaboreate__intro__description h2 {
    margin-bottom:2.2rem;
    letter-spacing: .1rem;
}

.collaboreate__intro__description p {
  text-align:center;
  padding-left: 18%;
  padding-right: 18%;
  margin-bottom: 4.5rem;
  line-height: 1.65rem;
  font-size:16px;
}

.design__three__column {
  margin-left:5%;
  margin-right:5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top:2rem;
  padding-bottom: 5rem;
  margin-bottom:2rem;
}

.deliverables__column__flex {
  display: flex;
  flex-direction: row;
}

.deliverables__column__flex > div {
  flex: 1; /*grow*/
}

.design__roles {
  text-align: center;
}

.design__roles h5 {
  margin-bottom: 1.5rem;
  color: #000000;
  letter-spacing:0rem;
  text-transform:uppercase;
}

.design__roles p {
  text-align: center;
  margin-bottom:0.5rem;
  font-size: 14px;
}

.collaboreate__mockup img {
  max-width:100%;
  width:100%;
  height: auto !important;
}


.challenge {
  margin-top:6%;
  margin-bottom:6%;
}


.challenges-solutions {
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 3%;
  padding-right: 3%;
}



.challenge__main {
  padding-right:5rem;
  margin-bottom: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.challenge__main h3 {
  font-size: 1rem;
  color: #9E9E9E;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.challenge__main p {
  width:70%;
}

.solution__main {
  padding-top:2rem;
  padding-left:1rem;
  padding-right:1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.solution__main h3 {
  font-size: 1rem;
  color: #9E9E9E;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.solution__main p {
  width: 70%;
}


.surveys {
  margin-top: 8rem;
  margin-bottom: 8rem;
}


.user__surveys {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}


.user__surveys__img {
  margin-right: 3rem;
}

.expand-1 {
  float: right;
  max-width: 60%;
}

.expand {
  max-width: 60%;
  margin-right: 2rem;
}

.user__surveys__content {
  display: flex;
  flex-direction:column;
  max-width: 100%;
}

/***
.user__surveys__content h7 {
 CAN'T GET THIS TO BOLD BECAUSE OF RESET?
}
***/


.user__surveys__content h3 {
  font-weight: 700;
  max-width:350px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.22rem;
  letter-spacing: 0.08em;
  color: #000000;
}



.analysis {
  margin-top: 4rem;
  margin-bottom:8rem;
  overflow: hidden;
}

.competitive__analysis {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.competitive__analysis__img {

}

.competitive__analysis__content {
  display: flex;
  flex-direction:column;
  margin-bottom: 1.5rem;
  max-width: 50%;
}

.competitive__analysis__content h3 {
  font-weight: 700;
  max-width:350px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.22rem;
  letter-spacing: 0.08em;
  color: #000000;
}

.personas {
  margin-top: 4rem;
  margin-bottom:8rem;
}

.user__personas {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.user__personas__img {
  margin-ri
}

.user__personas__content {
  display:flex;
  flex-direction:column;
  max-width: 50%;
}

.user__personas__content h3 {
  font-weight: 700;
  max-width:350px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.22rem;
  letter-spacing: 0.08em;
  color: #000000;
}


.flows {
  margin-top: 4rem;
  margin-bottom:8rem;
}

.user__flows {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.user__flows__content {
  max-width: 50%;
  display:flex;
  flex-direction: column;
}

.user__flows__content h3 {
  font-weight: 700;
  max-width:350px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.22rem;
  letter-spacing: 0.08em;
  color: #000000;
}


.wframes {
  margin-top: 4rem;
  margin-bottom:8rem;
}

.wireframes {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}


.wireframes__content {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5rem;
  text-align:center;
  padding-top:2rem;
  text-align:center;
  display: flex;
  flex-direction: column;
}

.wireframes__content h3 {
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.22rem;
  letter-spacing: 0.08em;
  color: #000000;
}

.wireframes__content p {
  text-align:center;
}

.wireframes__flex {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.expand-2 {
  width: 100%;
}

.wireframe__1 {
  max-width: 50%;
  padding-right: 2%;
  padding-left: 2%;
}

.wireframe__2 {
  max-width: 50%;
  padding-right: 2%;
  padding-left: 2%;
}

.wireframe__3 {
 max-width: 50%;
 padding-right: 2;
 padding-left: 2%;
}

.wireframes__flex > div {
  flex: 1; /*grow*/
}



.style {
  margin-top:6%;
  margin-bottom:6%;
}

.style-guide {
  padding-bottom: 8%;
}


.style__guide__content__1 {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color {
  margin-right: 8%;
  padding-right: 5%;
}

.color, h3 {
  font-size: 1rem;
  color: #9E9E9E;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.color__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.color__1 {
  /*position: relative;*/
  max-width: 100%;
  margin-right: 2.5rem;
}

.color--1 {
  width: 100%;
  height: auto;
}

.color--6 {
  width: 100%;
  height: auto;
}


.typography {
  padding-right: 3%;
  margin-right: 4%;
}

.typography, h3 {
  font-size: 1rem;
  color: #9E9E9E;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.typography__flex {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
.typography__flex > div {
  flex: 1; /**grow**/

.typography__1 {
  margin-right: 2rem;
  padding-right: 2rem;
  /*position: relative;*/
  max-width: 100%;
}

.typography--1 {
  width: 100%;
  height: auto;
}


.typography--2 {
  width: 100%;
  height: auto;
}


.logo {
  margin-right: 8%;
  padding-right: 5%;
}

.logo h3 {
  font-size: 1rem;
  color: #9E9E9E;
  font-weight: bold;
  letter-spacing: 0.15rem;
}



.logo__flex {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.logo__1 {
  padding-right: 4%;
  max-width: 100%;
}

.logo--1 {
  width: 70%;
  height: auto;
}

.logo__2 {
  padding-right: 5%;
  position: relative;
  max-width: 100%;
  height: auto;
}

.logo--2 {
  width: 70%;
  height: auto;
}

.logo--4 {
  width: 70%;
  height: auto;
}


.mockups {
  margin-top: 4rem;
  margin-bottom:8rem;
}

.high__fidelity__mockups {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}


.high__fidelity__mockups__content {
  padding-left: 15%;
  padding-right: 15%;
  text-align:center;
  padding-top:2rem;
  text-align:center;
  display: flex;
  flex-direction: column;
}

.high__fidelity__mockups__content h3 {
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.22rem;
  letter-spacing: 0.08em;
  color: #000000;
}

.high__fidelity__mockups__content p {
  margin-bottom:5rem;
  text-align:center;
}

.high__fidelity__mockups__flex {
  display:flex;
  flex-direction: row;
}

.high__fidelity__mockups__flex > div {
  flex: 1; /*grow*/
}

.mockups__1 {
  max-width: 50%;
  padding-right: 2%;
  padding-left: 2%;
}

.mockups__2 {
  max-width: 50%;
  padding-right: 2%;
  padding-left: 2%;
}

.mockups__3 {
  max-width: 50%;
  padding-right: 2%;
  padding-left: 2%;
}






.usability__testing__content {
  margin-left:4rem;
  margin-right:4rem;
  margin-top:2rem;
  margin-bottom:2rem;
  padding-left: 135px;
  padding-right: 135px;
  text-align:center;
  padding-bottom: 5.5rem;
  padding-top:2rem;
}


.usability__testing__content h3 {
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.22rem;
  letter-spacing: 0.08em;
  color: #000000;
}

.usability__testing__content p {
  text-align:center;
  margin-bottom: 5rem;
}

/************* USABILITY TESTING MEDIA QUERY *******/

@media only screen and (max-width: 1057px) {
  .usability__testing__content {
    padding-left:75px;
    padding-right:75px;
  }
}

@media only screen and (max-width: 785px) {
  .usability__testing__content {
    padding-left:20px;
    padding-right:20px;
  }
}

@media only screen and (max-width: 580px) {
  .usability__testing__content {
    padding-left:15px;
    padding-right:15px;
    margin-left:2rem;
    margin-right:2rem;
  }
}

@media only screen and (max-width: 497px) {
  .usability__testing__content {
    padding-left:10px;
    padding-right:10px;
    margin-left:1rem;
    margin-right:1rem;
  }
}

@media only screen and (max-width: 497px) {
  .usability__testing__content {
    padding-left:0px;
    padding-right:0px;
    margin-left:1rem;
    margin-right:1rem;
  }
}

/************** LESSONS ***************/

.lessons {
  margin-top:6%;
  margin-bottom:6%;
}

.further-lessons {
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.lessons__main {
  padding-right:5rem;
  margin-bottom: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lessons__main h3 {
  font-size: 1rem;
  color: #9E9E9E;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.lessons__main p {
  width: 70%;
}

/******************* MEDIA QUERIES **********************/




@media only screen and (max-width: 1184px) {
  .user__surveys {
    padding-left: 5%;
    padding-right: 5%;
  }
  .competitive__analysis {
    padding-left: 5%;
    padding-right: 5%;
  }
  .user__personas {
    padding-left: 5%;
    padding-right: 5%;
  }
  .user__flows {
    padding-left: 5%;
    padding-right: 5%;
  }
  .wireframes {
    padding-left: 5%;
    padding-right: 5%;
  }
  .high__fidelity__mockups {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1073px) {
  .collaboreate__intro__description p {
    padding-left: 15%;
    padding-right: 15%;
  }
    /*
  .challenge__main p {
      max-width: 45rem;
    }
  .solution__main p {
      max-width:45rem;
    }*/

  .user__flows__content {
    max-width:45%;
  }
  .user__personas__content {
    max-width:45%;
  }
  .competitive__analysis__content {
    max-width:45%;
  }
  .user__surveys__content {
    max-width:45%;
  }
  .expand {
    max-width: 100%;
    width: 90%;
  }
  .expand-1 {
    max-width: 100%;
    width: 80%;
  }
}


@media only screen and (max-width: 991px) {
  .challenge {
    margin-top: 7%;
    margin-bottom: 7%;
  }
  .challenges-solutions {
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .lessons {
      margin-top: 7%;
      margin-bottom: 7%;
  }

  .further-lessons {
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
}


@media only screen and (max-width: 825px) {
  .user__surveys__content {
    margin-bottom:2rem;
    float:none;
  }
}

@media only screen and (max-width: 882px) {
  .design__three__column {
    padding-left: 2%;
    padding-right: 2%;
  }
}


  @media only screen and (max-width: 770px) {
      .deliverables__column__flex {
        display: flex;
        flex-direction:column;
      }
      .design__three__column {
        padding-top: 10%;
        padding-bottom: 3%;
      }
      .design__roles {
        margin-bottom: 10%;
      }

    }

@media only screen and (min-width:771px) {
  .navbar-toggler {
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  .nav-right {
    display: none;
  }

  .about__me {
    margin-left: 7%;
    margin-right: 7%;
    }

  .about__section__content p {
    margin-bottom: 2rem;
    margin-left: 0%;
    margin-right: 0%;
    }


  .user__surveys {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .user__surveys__content {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .user__surveys__img {
    align-items:center;
    margin:auto;
  }
  .expand {
    margin: auto;
    align-items: center;
  }

  .surveys {
    margin-bottom:0.5rem;
  }

  .analysis {
    margin-bottom:0.5rem;
  }

  .personas {
    margin-bottom:0.5rem;
  }
  .flows {
    margin-bottom:0.5rem;
  }

  .competitive__analysis {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .competitive__analysis__content {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .competitive__analysis__img {
    align-items:center;
    margin:auto;
  }
  .expand-1 {
    margin: auto;
    align-items: center;
  }

  .user__personas {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .user__personas__content {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .user__personas__img {
    align-items:center;
    margin:auto;
  }

  .user__flows {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .user__flows__content {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .user__flows__img {
    align-items:center;
    margin:auto;
  }
  .wireframes__flex {
    flex-direction: column;
    align-items:center;
  }
  .wireframe__1 {
    margin-bottom: 3rem;
    max-width: 90%;
  }
  .wireframe__2 {
    margin-bottom: 3rem;
    max-width: 90%;
  }
  .wireframe__3 {
    margin-bottom: 3rem;
    max-width: 90%;
  }
  .high__fidelity__mockups__flex {
    display:flex;
    flex-direction: column;
    align-items:center;
  }
  .mockups__1 {
    margin-bottom: 3rem;
    max-width: 90%;
  }
  .mockups__2 {
    margin-bottom: 3rem;
    max-width: 90%;
  }
  .mockups__3 {
    margin-bottom: 3rem;
    max-width: 90%;
  }
  .wireframes__content {
    padding-left: 7%;
    padding-right: 7%;
  }
  .high__fidelity__mockups__content {
    padding-left: 7%;
    padding-right: 7%;
  }
}



@media only screen and (max-width: 750px) {


  .challenge__main {
    margin-top: 4rem;
    display: flex;
    flex-direction:column;
    margin-bottom: 1.5rem;
}

  .challenge__main h3 {
    margin-bottom: 1rem;
  }

  .challenge__main p {
    font-size: 14px;
    width: 100%;
  }

  .collaboreate__intro__description p {
    padding-left: 4%;
    padding-right: 4%;
  }

  .solution__main {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .solution__main h3 {
    margin-bottom: 1rem;
  }

  .solution__main p {
    font-size: 14px;
    width: 100%;
  }

  .lessons__main {
    margin-top: 4rem;
    display: flex;
    flex-direction:column;
    margin-bottom: 1.5rem;
}

  .lessons__main h3 {
    margin-bottom: 1rem;
  }

  .lessons__main p {
    font-size: 14px;
    width: 100%;
  }
}



@media only screen and (max-width: 575px) {
  .collaboreate__intro__description p {
    font-size:14px;
  }
}


@media only screen and (max-width: 575px) {
  .collaboreate__intro__description p {
    font-size:14px;
  }
}

@media only screen and (max-width: 470px) {
  .about__me {
    margin-left: 5%;
    margin-right: 5%;
    }
  }

@media only screen and (max-width: 400px) {
  .about__me {
    margin-left: 3%;
    margin-right: 3%;
    }
  }


/*** NEW NAV **/

.menu-left {
  min-width: 300px;
  margin-right: 6%;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
}

.menu-left a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .35s ease;
}

.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: width .35s ease;
}

.menu-left a:hover:before {
  width: 100%;
  background: #000;
  transition: width .35s ease;
}

.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.personal__logo {
  margin-left: 7%;
}

header nav .personal__logo {
  float: left;
  font-size: 1.25rem;
  line-height: inherit;
}

header nav .personal__logo:after {
  content: '';
  display: table;
  clear: both;
}

header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  float: right;
  display: inline-block;
}

header nav ul li {
  float: right;
  padding-left: 7%;
}

.menu-left h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: inherit;
  display: inline-block;
}




@media  (min-width: 768px) {

header nav ul li {
  float: left;
  margin-left: 1rem;
  }
}


header nav ul li a {
  display: block;
}

@media (min-width: 576px) {
  header nav ul li a {
    display: block;  padding: .425rem 0rem;
  }
}

@media (max-width: 768px) {

ul { clear: both; }

ul li { padding: .5em 0; }
}

.hide-nav {
 transform: translateY(-120% !important); -webkit-transform: translateY(-120%) !important; }

ul.menu-left {
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}

@media (min-width: 768px) {

ul.menu-left {
  display: block !important;
  float: right;
  max-height: none;
}
}

ul.menu-left:before {
  content: '';
  display: table;
  clear: both;
}

ul.menu-left.collapse { max-height: 15em !important; }

.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 10px 10px;
  margin-right: 0.8rem;
}

.nav-toggle.open span:first-child { transform: rotate(45deg) translate(4.4px, 4.4px); }

.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-toggle.open span:last-child { transform: rotate(-45deg) translate(4.4px, -4.4px); }

@media (min-width: 768px) {

.nav-toggle { display: none; }
}

.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: #000;
  transition: all .25s;
}



/* ANIMATIONS */
/*
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated.delay-1s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.animated.delay-2s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-half {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
} */

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
