.row {
  margin: 0 auto;
  max-width: 74.5rem;
  width: 100%;
  margin-bottom: 3%;
}

#name-headline {
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 25%;
